.nav__container {
  margin: 0 auto 80px auto;
  border: 1px solid #ffffff1a;
  max-width: 960px;
  position: relative;
}

.nav__container .logo span {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 46.88px;
  text-align: center;
}

.nav__container .logo span:last-child {
  font-family: Romanesco;
}
